<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 수정</title>
</head>
<body>
<h1>글 수정</h1>
<hr>


<form th:action="@{'/postUpdate/' + ${post.postNum}}" th:object="${post}" method="post">

    <label for="title">제목:</label>
    <input type="text" id="title" name="title" th:value="${post.title}" required><br>
    <label for="content">내용:</label>
    <textarea id="content" name="content" th:text="${post.content}" required></textarea><br>
    <button type="submit" onclick="return confirm('정말로 수정할겁니까?')">저장</button>
</form>
<button onclick="history.back()">뒤로가기</button>
</body>
</html>
